.titulo{
    color: #F5853D;
    width: 220px;
    height: 30px;
    background-color: #FCE5C6;
    padding: 15px;
}

button{
    height: 40px;
    width: 136px;
    background: #FFD9CF;
    padding: 10px;
    border: 3px groove #f79479;
    margin: 20px;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon{
    width: 87px;
    height: 40px;
    background: #FCD272;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #F5853D;
}

input{
    display: none;
}